version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: ai_nursing_db
      MYSQL_ROOT_PASSWORD: Vikas@2005
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: on-failure
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=Vikas@2005
      - DB_NAME=ai_nursing_db
      - PORT=5000
    ports:
      - '5000:5000'

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: on-failure
    depends_on:
      - backend
    ports:
      - '5173:5173' # Changed to 5173 to match your AWS Security Group
    environment:
      - VITE_API_URL=http://52.201.236.146:5000

volumes:
  db_data:
